<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1o_rPiAkZQyEWlI4zQTxlXwRyjfMUrdg</string>
	<key>GCM_SENDER_ID</key>
	<string>713882012257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kltechpy.airbnb1</string>
	<key>PROJECT_ID</key>
	<string>airbnb-4e884</string>
	<key>STORAGE_BUCKET</key>
	<string>airbnb-4e884.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713882012257:ios:27757a8da0d4efb63ab820</string>
</dict>
</plist>